{% extends "base.html" %}

{% block content %}

<div>
  <div>
    <legend>Register</legend>

    <form method="POST" action="." accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      {{ render_field(form.name, placeholder="Your Name", autofocus="") }}
      {{ render_field(form.email, placeholder="Your Email Address") }}
      {{ render_field(form.password, placeholder="Password") }}      
      <button type="submit" name="submit">Register</button>
    </form>  
  </div>
</div>

{% endblock %}