<!doctype html>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body>

		<div class="container">

			<div class="row">
				<div class="col-md-12">

					<h2>{{description}}</h2>
					<h3>{% if milestone_filter %}"{{milestone_filter}}":{% endif %} ${{total_cost|round(2, 'floor')}} / {{total_hours|round(5, 'floor')}} hours</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">

					<form method="post">

						<div>
							<label for="milestone_filter">Milestone Name Filter</label>
							<input type="text" name="milestone_filter" value="{% if milestone_filter %}{{milestone_filter}}{% endif %}" />
						</div>
						<div>
							<label for="start_milestone">Start Milestone</label>
							<select name="start_milestone">
								<option value="">- Select Start Milestone -</option>
								{% for f in milestones_filter %}
									<option value="{{ f.ixFixFor }}" {% if start_milestone == f.ixFixFor %}selected{% endif %}>{{ f.sFixFor }} {{ f.dt }}</option>
								{% endfor %}
							</select>
						</div>
						<div>
							<label for="end_milestone">End Milestone</label>
							<select name="end_milestone">
								<option value="">- Select End Milestone -</option>
								{% for f in milestones_filter %}
									<option value="{{ f.ixFixFor }}" {% if end_milestone == f.ixFixFor %}selected{% endif %}>{{ f.sFixFor }} {{ f.dt }}</option>
								{% endfor %}
							</select>
						</div>
						<!--
						<div>
							<label for="single_milestone">Show Only Selected Milestone</label>
							<input type="checkbox" name="single_milestone" />
						</div>
						-->
						<div>
							<label for="person_filter">Person Filter</label>
							<select name="person_filter">
								<option value="">- Select Person -</option>
								{% for p,v in person_names.iteritems() %}
								<option value="{{p}}" {% if person_filter == p %}selected{% endif %}>{{v}}</option>
								{% endfor %}
							</select>
						</div>
						<input type="submit" class="btn btn-primary" />

					</form>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">

					<table class="table table-striped">
						<tr>
							<th nowrap>Milestone #</th>
							<th>Milestone</th>							
							<th>Project</th>							
							<th>Start</th>
							<th>End</th>
							<th nowrap># Cases</th>
							<th>Personnel Hours</th>
							<th>Total Hours</th>
							<th>Cost</th>
						</tr>

					{% for f in fixfors %}
						<tr>
							<td>{{ f.ixFixFor }}</td>
							<td nowrap>{{ f.sFixFor }}</td>							
							<td nowrap>{{ f.sProject }}</td>							
							<td nowrap>{{ f.dtStart|date_format }}</td>
							<td nowrap>{{ f.dt|date_format }}</td>
							<td>{{ f.cases|length }}</td>
							<td>{{ f.person_hours }}</td>
							<td>{{ f.total_hours }}</td>
							<td>${{ f.cost|round(2, 'floor') }}</td>
						</tr>
					{% endfor %}

					</table>
				</div>
			</div>
		</div>
	</body>
</html>