<h1>{{description}}</h1>
<h2>"{{milestone_filter}}": ${{total_cost|round(2, 'floor')}}</h2>

<form method="post">

	<div>
		<label for="milestone_filter">Milestone Name Filter</label>
		<input type="text" name="milestone_filter" value="{{ milestone_filter }}" />
	</div>
	<div>
		<label for="lastmilestone_filter">Last Milestone</label>
		<select name="lastmilestone_filter">
			<option value="">- Select Last Milestone -</option>
			{% for f in milestones_filter %}
				<option value="{{ f.ixFixFor }}" {% if lastmilestone_filter == f.ixFixFor %}selected{% endif %}>{{ f.sFixFor }} {{ f.dt }}</option>
			{% endfor %}
		</select>
	</div>
	<div>
		<label for="person_filter">Person Filter</label>
		<select name="person_filter">
			<option value="">- Select Person -</option>
			{% for p,v in person_names.iteritems() %}
			<option value="{{p}}" {% if person_filter == p %}selected{% endif %}>{{v}}</option>
			{% endfor %}
		</select>
	</div>
	<input type="submit" />

</form>

<table>
	<tr>
		<th>ixFixFor</th>
		<th>sFixFor</th>
		<th>ixProject</th>
		<th>sProject</th>
		<th>dt</th>
		<th>dtStart</th>
		<th>cases</th>
		<th>person hours</th>
		<th>cost</th>
	</tr>

{% for f in fixfors %}
	<tr>
		<td>{{ f.ixFixFor }}</td>
		<td>{{ f.sFixFor }}</td>
		<td>{{ f.ixProject }}</td>
		<td>{{ f.sProject }}</td>
		<td>{{ f.dt }}</td>
		<td>{{ f.dtStart }}</td>
		<td>{{ f.cases|length }}</td>
		<td>{{ f.person_hours }}</td>
		<td>${{ f.cost|round(2, 'floor') }}</td>
	</tr>
{% endfor %}

</table>