{% extends "base.html" %}

{% block content %}
	
	<div class="row">
		<div class="col-md-12">
			<a href="{{ url_for('invoicing.deliverable_form') }}" class="btn btn-default">new deliverable</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">

			<table class="table table-striped">
				<tr>
					<th>Deliverable</th>							
					<th>Estimate</th>							
					<th>Invoiced Estimate?</th>
					<th>Refunded</th>
					<th>Invoiced Refund?</th>
					<th>Paid</th>
					<th># Cases</th>
					<th>Balance</th>
				</tr>

			{% for deliverable in deliverables %}
				<tr>
					<td>{{ deliverable.name }}</td>
					<td>${{ "%.2f" % deliverable.festimate }}</td>
					<td>{% if deliverable.invoice %}yes{% else %}no <a href="{{ url_for('invoicing.deliverable_form', deliverable_id=deliverable.id) }}">invoice now</a>{% endif %}</td>
					<td>${{ "%.2f" % deliverable.frefunded }}</td>
					<td>{% if deliverable.refund_invoice %}yes{% else %}no{% endif %}</td>
					<td>{{ deliverable.bpaid }}</td>
					<td>{{ deliverable.cases.count() }}</td>
					<td>${{ "%.2f" % deliverable.balance() }}</td>
					<td>
						<a href="{{ url_for('invoicing.deliverable_form', deliverable_id=deliverable.id) }}" class="btn btn-default" {% if not deliverable.editable() %}disabled{% endif %}>edit</a>
						<button class='btn btn-default' id="refund_deliverable" data-deliverableid="{{ deliverable.id }}" {% if not deliverable.refundable() %}disabled{% endif %}>refund</button>
					</td>
				</tr>
			{% endfor %}

			</table>
		</div>
	</div>

{% endblock %}

{% block extra_js %}
	
	<script type="text/javascript">
		{% include 'static/js/invoicing/deliverables.js' %}
	</script>

{% endblock %}