{% extends "base.html" %}

{% block head %}

<style type="text/css">

	.category, .case, .deliverable {
		font-size: 0.8em;
	}

	.category > div:nth-child(1), 
	.case > div:nth-child(1),
	.deliverable > div:nth-child(1) {
		border-bottom: 1px dashed black;
	}

	.cost {
		font-family: "Montserrat";
	}

	.subtotal {
		border-bottom: 1px solid black;
	}

	.total {
		font-size: 1.2em;
	}

	.subtotal, .total, .row.milestone, .row.deliverable {
		margin-top: 1em;
		margin-bottom: 1em;
	}

</style>

{% endblock %}

{% block content %}

{% if not invoice or invoice.state == 'working' %}
<div class="row">
	<div class="col-xs-6">
		<div class="btn-group" role="group">
			<button 
				class="btn btn-default" 
				id="finalize_invoice" 
				{% if invoice %}data-invoiceid="{{ invoice.id }}"{% endif %}>
					Finalize Invoice
			</button>
		</div>
	</div>
</div>
{% endif %}

{% if invoice %}

	{% if not print_view and invoice.state == 'final' %}
	<div class="row">
		<div class="col-xs-6">
			<a href="?print=True" target="_blank">print view</a>
		</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="col-xs-6">				
			<h3>{{ invoice.company.name }}</h3>
			{{ invoice.company.addressline1 }} <br />
			{{ invoice.company.addressline2 }}
		</div>
		<div class="col-xs-6 text-right">
			<h2>INVOICE</h2>
			Statement Date: {{ invoice.date_created|date_format }}
			<h4 class="cost">Amount Due: ${{ "%.2f" % total }}</h4>
		</div>
	</div>
	<div class="row" style="margin-top: 1em;">
		<div class="col-xs-2 text-right">				
			Prepared for: 
		</div>
		<div class="col-xs-4">
			{{ invoice.customer.name }}<br />
			{{ invoice.customer.addressline1 }} <br />
			{{ invoice.customer.addressline2 }}
		</div>
	</div>

{% endif %}

{% for milestone in milestones %}

	<div class="row milestone">
		<div class="col-xs-12">
			<h5>
				{{ milestone.sfixfor }} <small>{{ milestone.project.sproject }} / {{ milestone.dtstart|date_format }} to {{ milestone.dt|date_format }} {% if not print_view and (not invoice or invoice.state == 'working') %}<a href="{{ url_for('invoicing.milestone_detail', milestone_id=milestone.id) }}">edit milestone</a>{% endif %}</small>
			</h5>
		</div>
	</div>

	{% for category in milestone.get_categories(include_empty_categories=False) %}
		<div class="row category">
			<div class="col-xs-8">
				{{ category.name }}
				<!-- <span class="help-block col-xs-offset-1"> -->
					({% trans count=category.cases.all()|length %}case
					{% pluralize %}cases
					{% endtrans %} {{ category.cases.all()|ticket|join(", ")|safe }})
				<!-- </span> -->
			</div>
			
			<div class="col-xs-2 text-right cost">
			{% if not milestone.deliverable %}
				${{ "%.2f" % category.cost() }}
			{% else %}
				-
			{% endif %}
			</div>
		</div>
	{% endfor %}

	{% for case in milestone.uncategorized_cases(include_zero_cost=False) %}	
		<div class="row case">
			<div class="col-xs-8">{{ case.stitle }} (case {{ case.ticket_url()|safe }})</div>
			<div class="col-xs-2 text-right cost">
			{% if not milestone.deliverable %}
				${{ "%.2f" % case.cost() }}
			{% else %}
				-
			{% endif %}
			</div>
		</div>
	{% endfor %}

	{% if milestone.no_charge_cases()|length > 0 %}
	<h4><small>Other</small></h4>
	<div class="row case">
		<div class="col-xs-7 col-xs-offset-1">Cases {{ milestone.no_charge_cases()|ticket|join(", ")|safe }}</div>
		<div class="col-xs-2 text-right cost">$0.00</div>
	</div>
	{% endif %}
	
	{% if milestone.comped_cases()|length > 0 %}<h4><small>Comp / Credit</small></h4>{% endif %}
	{% for case in milestone.comped_cases() %}
		<div class="row case">
			<div class="col-xs-7 col-xs-offset-1">{{ case.stitle }} (case {{ case.ixbug }})</div>
			<div class="col-xs-2 text-right cost">
			{% if not milestone.deliverable %}
				( ${{ "%.2f" % case.cost() }} )
			{% endif %}
			</div>
		</div>
	{% endfor %}

	{% if milestone.deliverables()|length > 0 %}<h4><small>Paid Deliverables Credit</small></h4>{% endif %}
	{% for deliverable in milestone.deliverables() %}
		<div class="row case">
			<div class="col-xs-7 col-xs-offset-1">
				{{ deliverable.name }}
				<span class="help-block col-xs-offset-1">
					{% trans count=deliverable.cases_in_milestone(milestone)|length %}
						case
					{% pluralize %}
						cases
					{% endtrans %} {{ deliverable.cases_in_milestone(milestone)|ticket|join(", ")|safe }}
				</span>
			</div>
			<div class="col-xs-2 text-right cost">( ${{ "%.2f" % deliverable.cost_in_milestone(milestone) }} )</div>
		</div>
	{% endfor %}

	<div class="row subtotal">		
		<div class="col-xs-12 text-right cost">
			{% if not milestone.deliverable %}
				${{ "%.2f" % milestone.billable_cost() }}
			{% else %}
				- see deliverable "{{ milestone.deliverable.name }}"
				{% if not print_view and (not invoice or invoice.state == 'working') %} (${{ "%.2f" % milestone.billable_cost() }}) {% endif %}
			{% endif %}
		</div>
	</div>

{% endfor %}

{% if unpaid_deliverables.count() > 0 or refund_deliverables.count() > 0 %}<h5>Deliverables</h5>{% endif %}

{% if unpaid_deliverables.count() > 0 %}<h4><small>Deliverable Estimates</small></h4>{% endif %}
{% for unpaid_deliverable in unpaid_deliverables %}
	
	<div class="row deliverable">
		<div class="col-xs-7 col-xs-offset-1">{{ unpaid_deliverable.name }}</div>
		<div class="col-xs-2 text-right cost">${{ unpaid_deliverable.festimate }}</div>
	</div>

{% endfor %}

{% if refund_deliverables.count() > 0 %}<h4><small>Deliverable Refunds</small></h4>{% endif %}
{% for refund_deliverable in refund_deliverables %}
	
	<div class="row deliverable">
		<div class="col-xs-7 col-xs-offset-1">{{ refund_deliverable.name }}</div>
		<div class="col-xs-2 text-right cost">( ${{ refund_deliverable.frefunded }} )</div>
	</div>

{% endfor %}

{% if unpaid_deliverables.count() > 0 or refund_deliverables.count() > 0 %}
<div class="row subtotal">
		
	<div class="col-xs-12 text-right cost">
		{% if deliverable_total < 0 %}( {% endif %}${{ "%.2f" % deliverable_total|abs }}{% if deliverable_total < 0 %} ){% endif %}
	</div>

</div>
{% endif %}

<div class="row total">
	<div class="col-xs-10">
		<h4>Total Due</h4>
	</div>
	<div class="col-xs-2 text-right">
		<h4 class="cost">${{ "%.2f" % total }}</h4>
	</div>
</div>

{% endblock %}

{% block extra_js %}
	
	<script type="text/javascript">
		{% include 'static/js/invoicing/invoice.js' %}
	</script>

{% endblock %}