{% extends "base.html" %}

{% block content %}

<div class="row">

	<div class="col-md-8">

		<h2>{{ milestone.sfixfor }} <small><span class="help-text">{{ milestone.project.sproject }}</span></small></h2>
		<h4>
			From {{ milestone.dtstart }} to {{ milestone.dt }}
		</h4>
		<h4>
			{{ milestone.cases.all()|length }} Cases / ${{ '%0.2f' % milestone.cost() }}
		</h4>
		
		<div id="milestone_buttons_{{ milestone.id }}">
			{% include 'invoicing/_milestone_status_and_buttons.html' %}
		</div>

		<div>
		<form method="post" action="{{ url_for('invoicing.milestone_tuck', milestone_id=milestone.id) }}">
			{% if milestone.deliverable_id %}
				This milestone is part of <b>{{ milestone.deliverable.name }}</b>. <input type="submit" class="btn btn-success" value="Un-tuck" />
				<input type="hidden" name="deliverable_id" value="-1" />
			{% else %}
				Tuck this milestone under a deliverable:
				<select class="alert" name="deliverable_id">
					<option value="">Select a Deliverable</option>
					{% for d in open_deliverables %}				
					<option value="{{d.id}}" {% if milestone.deliverable_id == d.id %}selected{% endif %}>{{ d.name }}</option>
					{% endfor %}
				</select>
				<input type="submit" class="btn btn-success" value="Tuck" />
			{% endif %}
		</form>
		</div>

	</div>
	<div class="col-md-4">
		
		{% if milestone.invoice_id %}
			You are editing an invoiced milestone.
			<br /><a href="{{ url_for('invoicing.invoice', invoice_id=milestone.invoice_id) }}">return to invoice view</a>
			<p>
				or select another milestone in this invoice:
		{% else %}
			You are editing a milestone in the "default working invoice". (milestone is frozen, as yet not-invoiced)
			<br /><a href="{{ url_for('invoicing.invoice') }}">return to default working invoice</a>
			<p>
				or select another milestone in the default working invoice:
		{% endif %}

		{% if milestones %}		
		<form method="GET" action="{{ url_for('invoicing.milestone_detail', milestone_id=0) }}">
			<select onchange="document.location = $(this).closest('form').attr('action').replace(/0/, this.value);">
				{% for m in milestones %}
					<option value="{{m.id}}" {% if m.id == milestone.id %}selected{% endif %}>{{ m.sfixfor }} - ${{ '%0.2f' % m.cost() }}</option>
				{% endfor %}
			</select>
		</form>
		{% endif %}
		</p>
		
		
	</div>

</div>

<div class="row">
	<div class="col-md-12">

		<form method="post" action="{{ url_for('invoicing.category_create', milestone_id=milestone.id) }}">

			<div>
				<label for="category_name">New Category</label>
				<input type="text" name="category_name" value="" />
				<input type="submit" class="btn btn-success" value="Add" />
			</div>

		</form>

		<table id="milestone_categories" class="table table-striped" width="100%">
		{% for mc in milestone.categories %}
			<tr data-categoryid="{{ mc.id }}">
				<td class="category_name">
					{{ mc.name }}
				</td>
				<td class="category_case_count">
					{{ mc.cases.all()|length }}
				</td>
				<td class="category_case_cost">
					${{ "%0.2f" % mc.cost() }}
				</td>
			</tr>	
		{% endfor %}
			<tr>
				<td class="category_name">
					Uncategorized
				</td>
				<td class="category_case_count">{{ uncategorized_case_count }}</td>
				<td class="category_case_cost">${{ uncategorized_case_cost }}</td>
			</tr>
		</table>			

		<table id="milestone_cases" class="table table-striped" width="100%">

		{% for case in milestone_cases %}

			{% include 'invoicing/_milestone_detail_case_row.html' %}

		{% endfor %}

		</table>

	</div>

</div>

{% endblock %}

{% block extra_js %}
	
	<script type="text/javascript">
		{% include 'static/js/invoicing/milestone_detail.js' %}
	</script>

{% endblock %}