{% extends "base.html" %}

{% block content %}
	
	{#
	<div class="row">
		<div class="col-md-12">
			
			<h3>{{description}}: {% if milestone_filter %}"{{milestone_filter}}":{% endif %} ${{total_cost|round(2, 'floor')}} / {{total_hours|round(2, 'floor')}} hours</h3>			
			
		</div>
	</div>
	#}

	{# 
	<div class="row">
		<div class="col-md-12">

			<form method="post">

				<div>
					<label for="project_filter">Project Filter</label>
					<select name="project_filter">
						<option value="">- Select Project -</option>
						{% for p in projects %}
						<option value="{{p.id}}" {% if project_filter == p.id %}selected{% endif %}>{{p.sproject}}</option>
						{% endfor %}
					</select>
				</div>
				<div>
					<label for="milestone_filter">Milestone Name Filter</label>
					<input type="text" name="milestone_filter" value="{% if milestone_filter %}{{milestone_filter}}{% endif %}" />
				</div>
				<div>
					<label for="start_milestone">Start Milestone</label>
					<select name="start_milestone">
						<option value="">- Select Start Milestone -</option>
						{% for f in milestones_filter %}
							<option value="{{ f.id }}" {% if start_milestone == f.id %}selected{% endif %}>{{ f.sFixFor }} {{ f.dt }}</option>
						{% endfor %}
					</select>
				</div>
				<div>
					<label for="end_milestone">End Milestone</label>
					<select name="end_milestone">
						<option value="">- Select End Milestone -</option>
						{% for f in milestones_filter %}
							<option value="{{ f.id }}" {% if end_milestone == f.id %}selected{% endif %}>{{ f.sFixFor }} {{ f.dt }}</option>
						{% endfor %}
					</select>
				</div>
				<!--
				<div>
					<label for="single_milestone">Show Only Selected Milestone</label>
					<input type="checkbox" name="single_milestone" />
				</div>
				-->
				
				<div>
					<label for="person_filter">Person Filter</label>
					<select name="person_filter">
						<option value="">- Select Person -</option>
						{% for p in people %}
						<option value="{{p.id}}" {% if person_filter == p.id %}selected{% endif %}>{{p.sfullname}}</option>
						{% endfor %}
					</select>
				</div>
				<input type="submit" class="btn btn-primary" value="Apply Filter" />

			</form>
		</div>
	</div>
	#}

	<div class="row" style="margin: 1em 0em;">
		<div class="col-md-12">
			<div class="btn-group" role="group">
				<a href="{{ url_for('invoicing.refresh') }}" class="btn btn-info">Refresh</a>				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<table class="table table-striped">
				<tr>
					<th nowrap>Milestone #</th>
					<th>Milestone</th>							
					<th>Project</th>							
					<th>Start</th>
					<th>End</th>
					<th nowrap># Cases</th>
					<th>Cost</th>
					<th>Billable</th>
					<th>Invoice</th>
					<th></th>
					<th></th>
				</tr>

			{% for milestone in milestones %}
				<tr>
					<td>{{ milestone.ixfixfor }}</td>
					<td nowrap>{{ milestone.sfixfor }}</td>							
					<td nowrap>{{ milestone.project.sproject }}</td>							
					<td nowrap>{{ milestone.dtstart|date_format }}</td>
					<td nowrap>{{ milestone.dt|date_format }}</td>
					<td>{{ milestone.cases.all()|length }}</td>
					<td>${{ "%.2f" % milestone.cost() }}</td>
					<td>${{ "%.2f" % milestone.billable_cost() }}</td>
					<td>{% if milestone.invoice %} {{ milestone.invoice.customer.name }}: {{ milestone.invoice.date_created }} <a href="{{ url_for('invoicing.invoice', invoice_id=milestone.invoice_id) }}">view</a> {% endif %}</td>
					<td>
						<div class="btn-group" role="group">
							<a href="{{ url_for('invoicing.milestone_detail', milestone_id=milestone.id) }}" class="btn btn-default">See Detail</a>	
						</div>
					</td>
					<td>
						<div id="milestone_buttons_{{ milestone.id }}">
							{% include 'invoicing/_milestone_status_and_buttons.html' %}
						</div>
					</td>
				</tr>
			{% endfor %}

			</table>
		</div>
	</div>

{% endblock %}